<h2>My Contact Info</h2>
<div class="box row">
  <div class="col-12">
    <form #myForm="ngForm">
      <div class="row">
        <div class="col-4">
          <label>First name</label>
          <input type="text" class="form-control" name="city" value="{{firstName}}" autocomplete="off"
                 minlength="2">
        </div>
        <div class="col-4">
          <label>Middle name</label>
          <input type="text" class="form-control" name="state" value="{{middleName}}" autocomplete="off"
                 minlength="2">
        </div>
        <div class="col-4">
          <label>Last name</label>
          <input type="text" class="form-control" name="zip" value="{{lastName}}" autocomplete="off"
                 minlength="2">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Relationship to patient</label>
          <input type="text" class="form-control" name="email" value="" autocomplete="off"
                 minlength="2">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Phone</label>
          <input type="text" class="form-control" name="homePhone" value="{{cellPhone}}" autocomplete="off"
                 minlength="2">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Email</label>
          <input type="text" class="form-control" name="homePhone" value="{{email}}" autocomplete="off"
                 minlength="2">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>Address</label>
          <input type="text" class="form-control" name="address" value="{{address}}" autocomplete="off"
                 minlength="2">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label>City</label>
          <input type="text" class="form-control" name="address" value="{{city}}" autocomplete="off"
                 minlength="2">
        </div>
      </div>
    </form>
  </div>
</div>

