<h2>Emergency Contact</h2>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
          <div class="row">
            <div class="col-4">
              <label>FN</label>
              <input type="text" class="form-control" name="firstName"
                     [(ngModel)]="user.emergencyPerson.name" #firstName="ngModel"
                     [ngClass]="{'is-invalid': firstName.invalid}" autocomplete="off" minlength="2" required>
            </div>
            <div class="col-4">
              <label>ML</label>
              <input type="text" class="form-control" name="middleName"
                     [(ngModel)]="user.emergencyPerson.middleName" #middleName="ngModel"
                     [ngClass]="{'is-invalid': middleName.invalid}" autocomplete="off" minlength="2" required>
            </div>
            <div class="col-4">
              <label>LN</label>
              <input type="text" class="form-control" name="lastName"
                     [(ngModel)]="user.emergencyPerson.lastName" #lastName="ngModel"
                     [ngClass]="{'is-invalid': lastName.invalid}" autocomplete="off" minlength="2" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Relationship to patient</label>
              <select class="form-control" name="relationship" [(ngModel)]="user.emergencyPerson.relationship"
                      #relationship="ngModel" [ngClass]="{'is-invalid': relationship.invalid}" required>
                <option *ngFor="let relationship of relationships"
                        [value]="relationship.value">{{relationship.title}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Phone</label>
              <input type="text" class="form-control" name="phone"
                     [(ngModel)]="user.emergencyPerson.phone" #phone="ngModel"
                     [ngClass]="{'is-invalid': phone.invalid}" required pattern="^[\d\s]+$" autocomplete="off"
                     minlength="2">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Email</label>
              <input type="text" class="form-control" name="email"
                     [(ngModel)]="user.emergencyPerson.email" #email="ngModel"
                     [ngClass]="{'is-invalid': email.invalid}"
                     required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autocomplete="off">
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>Address</label>
              <input type="text" class="form-control" name="address"
                     [(ngModel)]="user.emergencyPerson.address" #address="ngModel"
                     [ngClass]="{'is-invalid': address.invalid}" autocomplete="off" minlength="2" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label>City</label>
              <input type="text" class="form-control" name="city"
                     [(ngModel)]="user.emergencyPerson.city" #city="ngModel"
                     [ngClass]="{'is-invalid': city.invalid}" autocomplete="off" minlength="2" required>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button class="btn btn-default" type="submit" [disabled]="myForm.form.invalid">Apply changes</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

