<h2>Notices</h2>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">HIPAA Privacy Notice</h5>
    </div>
    <div class="row ml-2">
      <div class="col-12">
        <button class="btn btn-default" type="submit"><fa-icon [icon]="faFileAlt" class="mr-2"></fa-icon>View PDF</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">HIPAA Privacy Notice</h5>
    </div>
    <div class="row ml-2">
      <div class="col-12">
        <button class="btn btn-default" type="submit"><fa-icon [icon]="faFileAlt" class="mr-2"></fa-icon>View PDF</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">HIPAA Privacy Notice</h5>
    </div>
    <div class="row ml-2">
      <div class="col-12">
        <button class="btn btn-default" type="submit"><fa-icon [icon]="faFileAlt" class="mr-2"></fa-icon>View PDF</button>
      </div>
    </div>
  </li>
</ul>
