:host {
  margin: 0;
  font-variant: small-caps;
}

.medic-header {
  background-color: #41B6A6;
  margin: 0;
  padding: 0;
}

.nav-item {
  text-align: center;
}

.nav-item a {
  color: white;
}

.nav-item p {
  margin-bottom: 0;
}

.nav-item fa-icon {
  font-size: 40px;
}
.nav-link.active {
  background-color: #2E877B;
  border-bottom: 4px solid orange;
}

.logo {
  width: 90px;
  height: 80px;
}

