<h2>Vital Stats Recorded</h2>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        Temperature: {{user?.healthInfo?.temperature}}
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">Heart Rate: {{user?.healthInfo?.heartRate}} BPM</div>
      <div class="col-lg-6 col-sm-6">SYS: {{user?.healthInfo?.bloodPressureSYS}} (mmHg)</div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-sm-6">Blood Pleasure: {{user?.healthInfo?.bloodPressure}}</div>
      <div class="col-lg-6 col-sm-6">DIAS: {{user?.healthInfo?.bloodPressureDIAS}} (mmHg)</div>
    </div>
  </div>
</div>

