<div class="container-fluid space">
  <div class="row">
    <div class="col-12">
      <h2>Upload Patient Form</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-lg-11 col-sm-8">
            <input type="text" class="form-control" placeholder="Files">
          </div>
          <div class="col-lg-1 col-sm-4">
            <button class="btn btn-default float-right">Browse</button>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Form">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Patient Name">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Patient ID">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-sm-12"></div>
          <div class="col-lg-9 col-sm-12">
            <button class="btn btn-primary float-right ml-2" type="submit"> Upload</button>
            <button class="btn btn-default float-right" type="button">Reset</button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
