<h3>Upcoming Appointments ({{ appointments?.length }})</h3>
<div class="container upcomingAppointments space">
  <div class="row" *ngFor="let appointment of appointments">
    <div class="col-5">
      <div class="col-12 blackLetters">{{appointment?.date | date:'medium': undefined: 'sr-RS' }}</div>
      <div class="col-12 grayLetters">{{appointment?.date | date:'medium'  | timeAgo}}</div>
    </div>
    <div class="col-5">
      <div class="col-12 blackLetters">{{appointmentTitle}}</div>
      <div class="col-12 grayLetters">{{appointment?.provider?.name}}</div>
    </div>
    <div class="col-2">
      <button (click)="onClickedConfirmed(appointment?.guid)" class="btn btn-default float-right mt-1"
              *ngIf="!appointment?.confirmed">Confirm
      </button>
      <div *ngIf="appointment?.confirmed">
        <fa-icon class="text-success float-right h3 mt-1" [icon]="faChecked"></fa-icon>
      </div>
    </div>

  </div>
</div>
