<h3>Upcoming Appointments ({{appointments?.length}})</h3>
<div class="container" class ="upcomingAppointments">
  <div class="row"  *ngFor="let appointment of appointments">
    <div class="col-3">
      <div class ="col-12 blackLetters">{{appointment?.date | date}}</div>
      <div class ="col-12 grayLetters">{{dateDifference1}}</div>
    </div>
    <div class="col-6">
      <div class ="col-12 blackLetters">{{appointmentTitle}}</div>
      <div class ="col-12 grayLetters">{{appointment?.provider?.name}}</div>
    </div>
    <div class="col-3">
      <button (click)="onClickedConfirmed($event)">Confirm</button>
    </div>
  </div>
</div>
