<div class="container-fluid space">
  <div class="row">
    <div class="col-12">
      <h2> History Changes Details </h2>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              Changed: HealthInfo
<!--             {{appointmentHistory.what}}-->
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              Actor: Name name
            </div>
            <div class="col-6">
              Date: date
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              Change data..
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-default" (click)="onBack()">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
