<div class="container space">
  <div class="row">
    <div class="col-12">
      <app-welcome [name]="currentUser?.name" [role]="currentUser?.role">
      </app-welcome>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="row">My Document</h2>
      <app-tabs>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="dropdown">
              <button class="btn btn-default float-right dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      [disabled]="markedAppointments.length === 0">
                Action
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item btn btn-default" (click)="deleteAppointments()">Delete</a>
              </div>
            </div>
          </div>
        </div>
        <app-tab title="Medical" [active]="true">
          <div class="row">
            <div class="col-lg-12">
              <app-medical-table [appointments]="pagedItems"
                                 (checked)="appointmentSelect($event)" (checkedAll)="pastAppointmentSelectAll($event)"
                                 ></app-medical-table>
              <nav aria-label="Page navigation example">
                <ul class="pagination" *ngIf="pager.pages1 && pager.pages1.length">
                  <li class="page-item" [ngClass]="{'disabled': pager.currentPage === 1}">
                    <a class="page-link" aria-label="Previous" (click)="setPage(pager.currentPage - 1)">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let page of pager.pages1" [ngClass]="{'active': pager.currentPage === page}">
                    <a class="page-link" (click)="setPage(page)"> {{ page }} </a>
                  </li>
                  <li class="page-item" [ngClass]="{'disabled': pager.currentPage === pager.totalPages}">
                    <a class="page-link" aria-label="Next" (click)="setPage(pager.currentPage + 1)">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>

            </div>
          </div>
        </app-tab>
        <app-tab title="Legal" [active]="false">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <app-forms></app-forms>
              </div>
              <div class="col-lg-6 col-sm-12">
                <app-notices></app-notices>
              </div>
            </div>
        </app-tab>
      </app-tabs>
    </div>
  </div>
</div>
