<div class="container">
  <div class="create-div">
    <div class="col-12 make-app">
       <p> Make An Appointment </p>
    </div>
      <form>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Date">
          </div>
          <div class="col-6">
            <select class="form-control">
            <option selected>Provider...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Time">
          </div>
          <div class="col-6">
            <select class="form-control">
              <option selected>Location...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-control">
              <option selected>AppType...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control notes" placeholder="Notes">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Phone">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-2">
          <button class=" button button1"> Cancel</button>
          </div>
          <div class="col-2">
            <button class=" button button2" type="submit"> Submit</button>
          </div>
        </div>

      </form>
  </div>
</div>
