:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.make-app {
  margin-top: 10px;
}

.form-control {
  background: #F5F5F5;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  border-radius: 3px;
}

input::placeholder {
  font-variant: small-caps;
}

option {
  font-variant: small-caps;
}

.notes {
  height: 85px;
}
