<div class="container-fluid space">
  <div class="row">
    <div class="col-12 make-app">
       <h2> Make An Appointment </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col-6">
            <select class="form-control">
              <option selected>Provider...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="datetime-local" class="form-control" placeholder="Time">
          </div>
          <div class="col-6">
            <select class="form-control">
              <option selected>Location...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <select class="form-control">
              <option selected>AppType...</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control notes" placeholder="Notes">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Phone">
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="row">
          <div class="col-8"></div>
          <div class="col-2">
            <button class="btn btn-light"> Cancel</button>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" type="submit"> Submit</button>
          </div>
        </div>
      </form>
    </div>
</div>
