<h2>History Changes</h2>
<div class="list-group">
  <a class="list-group-item list-group-item-action flex-column align-items-start"
     [routerLink]="[appointmentHistory.guid]"
     *ngFor="let appointmentHistory of appointment.appointmentHistory | reverseArrayOfAppointmentHistoryChanges">
    <div class="w-100 justify-content-between">
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <span class="mb-1 mr-4"><strong>{{appointmentHistory?.what}}</strong></span>
          <small>{{appointmentHistory?.date | date:'medium'  | timeAgo}}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <p class="mb-1"><strong> Actor: {{appointmentHistory?.actor?.role | role}} {{appointmentHistory?.actor.name}}</strong></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
        <small> <strong>More...</strong></small>
        </div>
      </div>
    </div>
  </a>
</div>
