<div class="container space">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
        <app-appointment-detail-info [appointment]="appointment"></app-appointment-detail-info>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-appointment-health-info></app-appointment-health-info>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-diagnosis></app-diagnosis>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-invoice-information></app-invoice-information>
        </div>
      </div>
    </div>
  </div>
</div>
