<h2>Basic Info</h2>
<div class="row box">
  <div class="col-3">
      <img [src]="user.avatar" width="230vh" height="230vh"/>
      </div>
  <div class="col-9">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="row">
        <div class="col-5">
          <input type="text" class="form-control" name="firstName" [value]="user.name" [(ngModel)]="user.name" autocomplete="off" minlength="2">
        </div>
        <div class="col-2">
          <input type="text" class="form-control" name="middleName" [value]="user.middleName" [(ngModel)]="user.middleName" autocomplete="off" minlength="2">
        </div>
        <div class="col-5">
          <input type="text" class="form-control" name="lastName" [value]="user.lastName" [(ngModel)]="user.lastName" autocomplete="off" minlength="2">
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <input type="date" class="form-control" name="date" [value]="user.dateOfBirth" [(ngModel)]="user.dateOfBirth" autocomplete="off" minlength="2">
        </div>
        <div class="col-2">
          <select class="form-control" value="gender" name="gender" [(ngModel)]="user.gender">
            <option>female</option>
            <option>male</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-5">Account Access</div>
      </div>
      <div class="row">
        <div class="col-5"><button class="btn btn-default" type="button">Request Password Reset Email</button> </div>
        <div class="col-5"><button class="btn btn-default" type="submit">Apply changes</button> </div>
      </div>
  </form>
</div>
</div>

