<div class="container singInSpace">
  <div class="row justify-content-center align-items-center">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-12">
            <label>First Name:</label>
            <input type="text" name="name" class="form-control" autocomplete="off" minlength="2" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Last Name:</label>
            <input type="text" name="lastName" class="form-control" autocomplete="off" minlength="2" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Email:</label>
            <input type="text" name="email" class="form-control" autocomplete="off" minlength="2" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Password:</label>
            <input type="password" name="password" class="form-control" autocomplete="off" minlength="2" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label>Repeat password:</label>
            <input type="password" name="password" class="form-control" autocomplete="off" minlength="2" required>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="submit" name="submit" class="btn btn-primary mt-2" value="Register">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

