<h2>My Contact Info</h2>
<div class="box row">
  <div class="col-12">
  <form #myForm="ngForm">
    <div class="row">
      <div class="col-12">
        <label>Cellphone</label>
        <input type="text" class="form-control" name="cellPhone" value="{{cellPhone}}" autocomplete="off" minlength="2">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Email</label>
        <input type="text" class="form-control" name="email" value="{{email}}" autocomplete="off"
               minlength="2">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Homephone</label>
        <input type="text" class="form-control" name="homePhone" value="{{homePhone}}" autocomplete="off"
               minlength="2">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Address</label>
        <input type="text" class="form-control" name="address" value="{{address}}" autocomplete="off"
               minlength="2">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label>City</label>
        <input type="text" class="form-control" name="city" value="{{city}}" autocomplete="off"
               minlength="2">
      </div>
      <div class="col-4">
        <label>State</label>
        <input type="text" class="form-control" name="state" value="{{state}}" autocomplete="off"
               minlength="2">
      </div>
      <div class="col-4">
        <label>Zip</label>
        <input type="text" class="form-control" name="zip" value="{{zip}}" autocomplete="off"
               minlength="2">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label>Workphone</label>
        <input type="text" class="form-control" name="workPhone" value="{{workPhone}}" autocomplete="off"
               minlength="2">
      </div>
    </div>
  </form>
  </div>
</div>
