<h2>Forms</h2>
<ul class="list-group">
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">Patient Consent Form</h5>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit">Download From</button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit" routerLink="/upload-patient-form">Upload</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">Financial Responsibility From</h5>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit">Download From</button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit" routerLink="/upload-patient-form">Upload</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">Financial Responsibility From</h5>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit">Download From</button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit" routerLink="/upload-patient-form">Upload</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">Financial Responsibility From</h5>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit">Download From</button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit" routerLink="/upload-patient-form">Upload</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">Financial Responsibility From</h5>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit">Download From</button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit" routerLink="/upload-patient-form">Upload</button>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row ml-2">
      <h5 class="col-12">Financial Responsibility From</h5>
    </div>
    <div class="row ml-2">
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit">Download From</button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button class="btn btn-default" type="submit" routerLink="/upload-patient-form">Upload</button>
      </div>
    </div>
  </li>
</ul>
