<table class="table table-bordered">
  <thead>
  <tr class="tableColor" scope="row">
    <th scope="col" width="5%">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" #checkbox class="custom-control-input" id="defaultUnchecked" (change)="checkAll(checkbox.checked)">
        <label class="custom-control-label" for="defaultUnchecked"></label>
      </div>
    </th>
    <th scope="col" width="20%">Date and time</th>
    <th scope="col" width="20%">ApptType</th>
    <th scope="col" width="35%">Prov</th>
    <th scope="col" width="20%">Status</th>
  </tr>
  </thead>
  <tbody *ngFor="let appointment of appointments; let i = index">
    <th scope="row">
      <div class="custom-control custom-checkbox">
      <input type="checkbox" #checkbox class="custom-control-input" id="defaultUnchecked{{i}}" (change)="checkBox(checkbox.checked, appointment.guid)">
      <label class="custom-control-label" for="defaultUnchecked{{i}}"></label>
    </div>
    </th>
    <td scope="col">{{appointment?.date | date:'medium': undefined: 'sr-RS' }}</td>
    <td scope="col">{{appointment?.appType}}</td>
    <td scope="col">{{appointment?.provider?.name}}</td>
    <td scope="col" *ngIf="appointment?.confirmed">
      <span class="badge badge-success">Confirmed</span>
    </td>
    <td scope="col" *ngIf="!appointment?.confirmed">
      <span class="badge badge-danger">Not confirmed</span>
    </td>
  </tbody>
</table>
