<p> Quick Links </p>
<div class="quickList">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/appointments/create">Make An Appt</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/messages/newMessage">Send Message</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View Clinica Summanes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">View Lab resukts</a>
    </li>
  </ul>
</div>

