<div class="container-fluid space">
  <div class="row">
    <div class="col-4">
      <app-basic-info [user]="currentUser"></app-basic-info>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <app-vital-stats [user]="currentUser"></app-vital-stats>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-allergies [user]="currentUser"></app-allergies>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <app-medications-and-supplements [user]="currentUser"></app-medications-and-supplements>
        </div>
      </div>
    </div>
  </div>
</div>
