<div class="container space">
  <div class="row">
    <div class="col-12">
      <app-welcome [user]="currentUser$ | async">
      </app-welcome>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      <app-upcoming-appointments [appointments]="appointments$ | async" [appointmentTitle]="appointmentsTitle"
                                 (confirmedButton)="confirmedButton($event)"></app-upcoming-appointments>
    </div>
    <div class="col-lg-3 col-sm-12">
      <app-quick-links></app-quick-links>
    </div>
  </div>
</div>
