<h2>Diagnosis: </h2>
<div class="card">
  <div class="card-body">
        <form>
          <div class="row">
            <div class="col-12">
              <textarea type="text" class="form-control" rows="4" placeholder="Write diagnosis"
                        autocomplete="off" minlength="2" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
              <button class="btn btn-default">Save Diagnosis</button>
            </div>
          </div>
        </form>
  </div>
</div>
