<div class="container-fluid space">
  <div class="row">
    <div class="col-12 make-app">
      <h2>New Message</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="From: ">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="To: ">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" placeholder="Subject: ">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <textarea class="form-control" rows="12" placeholder="Message: "></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="defaultUnchecked1">
              <label class="custom-control-label text-secondary" for="defaultUnchecked1"> Urgent</label>
            </div>
          </div>
          <div class="col-9">
            <button class="btn btn-primary float-right" type="submit"> Submit</button>
            <button class="btn btn-default float-right" (click)="cancel()"> Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
