<div class="container space">
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <app-welcome [user]="currentUser$ | async"></app-welcome>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <app-current-date></app-current-date>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <app-tabs>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <div class="dropdown">
              <button class="btn btn-default float-right dropdown-toggle" type="button" id="dropdownMenuButton"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      [disabled]="markedAppointments.length === 0">
                Action
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item btn btn-default" (click)="deleteAppointments()">Delete</a>
              </div>
            </div>
            <button class="btn btn-default float-right btnMargin" routerLink="/appointments/create">Make an app</button>
          </div>
        </div>
        <app-tab title="Upcoming Apps" [active]="true">
          <div class="row">
            <div class="col-lg-12">
              <button class="btn btn-default float-right"
                      (click)="exportToPDFActiveApp(activeAppointments)">Save as PDF
              </button>
            </div>
            <div class="col-lg-12" #activeAppointments title="activeAppointments" [id] ="upcomingAppointments$">
              <app-table [appointments]="upcomingAppointments$ | async"
                         [total] = "upcomingAppointmentsCount$ | async"
                         (checked)="appointmentSelect($event)"
                         (checkedAll)="appointmentSelectAll($event)"
                         (pager)="setPager($event)"></app-table>
            </div>
          </div>
        </app-tab>
        <app-tab title="Past Apps" [active]="false">
          <div class="row">
            <div class="col-lg-12">
              <button class="btn btn-default float-right"
                      (click)="exportToPDFPastApp(pastAppointments1, pastAppointments1.title)">Save as PDF
              </button>
            </div>
            <div class="col-lg-12" #pastAppointments1 title="pastAppointments">
              <app-table [appointments]="pastAppointments$ | async"
                         [total]="pastAppointmentsCount$ | async"
                         (checked)="appointmentSelect($event)"
                         (checkedAll)="pastAppointmentSelectAll($event)"
                         (pager)="setPager($event)"
                         ></app-table>
            </div>
          </div>
        </app-tab>
      </app-tabs>
    </div>
  </div>
</div>

