<div class="container space">
  <div class="row">
    <div class="col-12">
      <app-profile-basic-info [user]="currentUser" (update)="onUpdateEmployee($event)"></app-profile-basic-info>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-contact-information [user]="currentUser" (update)="onUpdateEmployee($event)"></app-contact-information>
    </div>
    <div class="col-6">
      <app-emergency-contact [user]="currentUser" (update)="onUpdateEmployee($event)"></app-emergency-contact>
    </div>
  </div>
</div>
